@model CricketStats.Models.Country

@{
    ViewBag.Title = "Delete Country";
}

<h2>Delete</h2>

<div class="alert alert-warning" role="alert">Are you sure you want to delete @Html.DisplayFor(model => model.countrydesc) ?</div>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.countrycode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countrycode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countrydesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countrydesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
