@model IEnumerable<CricketStats.Models.Dismissal>

@{
    ViewBag.Title = "Dismissals";
}

<h2>Dismissal Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="StyleTable table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dismissalcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dismissaldesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastupdated)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>

<tfoot class="FooterFilter">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dismissalcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dismissaldesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdated)
        </th>
        <th></th>
    </tr>
</tfoot>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dismissalcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dismissaldesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdated)
        </td>
        <td class="no-sort">
            @Html.ActionLink("Edit", "Edit", new { id = item.dismissalid }, new { @class = "btn btn-info btn-xs" }) &nbsp;
            @Html.ActionLink("Details", "Details", new { id = item.dismissalid }, new { @class = "btn btn-success btn-xs" }) &nbsp;
            @Html.ActionLink("Delete", "Delete", new { id = item.dismissalid }, new { @class = "btn btn-danger btn-xs" })

    </tr>
}

</table>
