@model IEnumerable<CricketStats.Models.Player>

@{
    ViewBag.Title = "Players";
}

<h2>Player Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>


<table class="StyleTable table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playersurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th class="Narrow-col">
                @Html.DisplayNameFor(model => model.retired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastupdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.countrydesc)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tfoot class="FooterFilter">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playersurname)
            </th>
            <th class="Narrow-col">
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th  class="Narrow-col">
                @Html.DisplayNameFor(model => model.retired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastupdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.countrydesc)
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.playername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.playersurname)
                </td>
                <td class="Narrow-col">
                    @Html.DisplayFor(modelItem => item.dob)
                </td>
                <td class="Narrow-col">
                    @Html.DisplayFor(modelItem => item.retired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastupdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.countrydesc)
                </td>
                <td class="no-sort">
                    @Html.ActionLink("Edit", "Edit", new { id = item.playerid }, new { @class = "btn btn-info btn-xs" }) &nbsp;
                    @Html.ActionLink("Details", "Details", new { id = item.playerid }, new { @class = "btn btn-success btn-xs" }) &nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id = item.playerid }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>

</table>


