@model IEnumerable<CricketStats.Models.BowlingInn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.runs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maidens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.overs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BowlingInns1.bowlingInnsid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BowlingInn1.bowlingInnsid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.countrycode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.matchid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.playername)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.runs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maidens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BowlingInns1.bowlingInnsid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BowlingInn1.bowlingInnsid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.countrycode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.matchid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player.playername)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
