@model CricketStats.Models.Match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matchnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homecountryid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homecountryid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.awaycountryid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.awaycountryid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venueid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venueid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchtypeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchtypeid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchstartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchstartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tosswinnercountryid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tosswinnercountryid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matchid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
