<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CricketStats</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/dataTables")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CricketStats", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilities <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Players", "Index", "Players")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Countries", "Index", "Countries")</li>
                            <li>@Html.ActionLink("Venues", "Index", "Venues")</li>
                            <li>@Html.ActionLink("Matchtypes", "Index", "MatchTypes")</li>
                            <li>@Html.ActionLink("Dismissals", "Index", "Dismissals")</li>
                        </ul>
                    </li>
                        @{Html.RenderAction(actionName: "Menu", controllerName: "MatchTypes");}
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mario Felix</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/dataTables")
    <script>
    $(function () {
        $(".jqueryui-marker-datepicker").datepicker({
            dateFormat: "dd/mm/yy",
            changeYear: true,
            beforeShow: function() {
            setTimeout(function(){
                $('.ui-datepicker').css('z-index', 99999999999999);
            }, 0);
        }
         })
    });

</script>


    <script>
        $(document).ready(function () {


            // Setup - add a text input to each footer cell unless it has no header title
            $('.StyleTable tfoot th').each(function () {
                var title = $(this).text();
                if (title != '') {
                    if ($(this).hasClass("Narrow-col")) {
                        $(this).html('<input class="form-control form-control-inline input-sm" type="text" placeholder="' + title + '" />');
                    } else {
                        $(this).html('<input class="form-control .form-control-inline-full input-sm" type="text" placeholder="' + title + '" />');
                    }
                   
                }

            });

            // DataTable Remove sorting for columns with 'no-sort' class
            var table = $('.StyleTable').DataTable({
                "order": [],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }, {targets: 'Narrow-col', width: '7%'}]
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });


        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
