@model CricketStats.Models.Venue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="alert alert-warning" role="alert">Are you sure you want to delete @Html.DisplayFor(model => model.venuecity), @Html.DisplayFor(model => model.Country.countrydesc)  ?</div>
<div>
    <h4>Venue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.venuename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venuename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venuecity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venuecity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.countrycode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.countrycode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
