@model IEnumerable<CricketStats.Models.Venue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.venuename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venuecity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.countrydesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.venuename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venuecity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.countrydesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.venueid }) |
            @Html.ActionLink("Details", "Details", new { id=item.venueid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.venueid })
        </td>
    </tr>
}

</table>
